@import url("../../assets/style/Global.css");

.score-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--brand-300);
  height: 4px;
  flex-shrink: 0;
  border-radius: 16px;
  z-index: 10;
}

.score-gray {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: var(--gray-50);
  height: 4px;
  flex-shrink: 0;
  width: 100%;
}
