:root {
  --gray-900: #191919;
  --gray-800: #333333;
  --gray-700: #4c4c4c;
  --gray-600: #666666;
  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #b3b3b3;
  --gray-200: #cccccc;
  --gray-100: #e6e6e6;
  --gray-50: #f3f3f3;
  --blue-100: #e8f3ff;
  --blue-500: #318ef6;
  --red-100: #ffeeee;
  --red-500: #ff3b30;
  --yellow-100: #ffefbf;
  --yellow-500: #ffc342;
  --green-100: #aeefd5;
  --green-500: #03b26c;
  --black: #000000;
  --white: #ffffff;
  --light: #ffffff;
  --brand-900: #2a0e0e;
  --brand-800: #531d1d;
  --brand-700: #7d2b2b;
  --brand-600: #a63a3a;
  --brand-500: #d04848;
  --brand-400: #d96d6d;
  --brand-300: #e39191;
  --brand-200: #ecb6b6;
  --brand-100: #f6dada;
  --dullblue-900: #151e2a;
  --dullblue-800: #2a3c54;
  --dullblue-700: #3e597e;
  --dullblue-600: #5377a8;
  --dullblue-500: #6895d2;
  --dullblue-400: #86aadb;
  --dullblue-300: #a4bfe4;
  --dullblue-200: #c3d5ed;
  --dullblue-100: #e1eaf6;
}

.gray-900 {
  color: var(--gray-900);
}

.gray-800 {
  color: var(--gray-800);
}

.gray-700 {
  color: var(--gray-700);
}

.gray-600 {
  color: var(--gray-600);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-100 {
  color: var(--gray-100);
}

.gray-50 {
  color: var(--gray-50);
}

.blue-100 {
  color: var(--blue-100);
}

.blue-500 {
  color: var(--blue-500);
}

.red-100 {
  color: var(--red-100);
}

.red-500 {
  color: var(--red-500);
}

.yellow-100 {
  color: var(--yellow-100);
}

.yellow-500 {
  color: var(--yellow-500);
}

.green-100 {
  color: var(--green-100);
}

.green-500 {
  color: var(--green-500);
}

.brand-900 {
  color: var(--brand-900);
}

.brand-800 {
  color: var(--brand-800);
}

.brand-700 {
  color: var(--brand-700);
}

.brand-600 {
  color: var(--brand-600);
}

.brand-500 {
  color: var(--brand-500);
}

.brand-400 {
  color: var(--brand-400);
}

.brand-300 {
  color: var(--brand-300);
}

.brand-200 {
  color: var(--brand-200);
}

.brand-100 {
  color: var(--brand-100);
}

.dullblue-900 {
  color: var(--dullblue-900);
}

.dullblue-800 {
  color: var(--dullblue-800);
}

.dullblue-700 {
  color: var(--dullblue-700);
}

.dullblue-600 {
  color: var(--dullblue-600);
}

.dullblue-500 {
  color: var(--dullblue-500);
}

.dullblue-400 {
  color: var(--dullblue-400);
}

.dullblue-300 {
  color: var(--dullblue-300);
}

.dullblue-200 {
  color: var(--dullblue-200);
}

.dullblue-100 {
  color: var(--dullblue-100);
}