@import url("./Alignment.css");
@import url("./Color.css");
@import url("./Typography.css");
@import url("./Padding.css");

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  height: fit-content;
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}