.xp12 {
  padding-left: 12px;
  padding-right: 12px;
}

.xp16 {
  padding-left: 16px;
  padding-right: 16px;
}

.xp20 {
  padding-left: 20px;
  padding-right: 20px;
}

.xp32 {
  padding-left: 32px;
  padding-right: 32px;
}

.xp70 {
  padding-left: 70px;
  padding-right: 70px;
}

.xp120 {
  padding-left: 120px;
  padding-right: 120px;
}

.yp20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.yp40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.yp50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.yp60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.yp64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p12 {
  padding: 12px;
}

.p20 {
  padding: 20px;
}

.p40 {
  padding: 40px;
}

.pt20 {
  padding-top: 20px;
}

.pt40 {
  padding-top: 40px;
}

.pt48 {
  padding-top: 48px;
}

.pt60 {
  padding-top: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb40 {
  padding-bottom: 32px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb160 {
  padding-bottom: 160px;
}