@import url("../../assets/style/Global.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--brand-300);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-mobile {
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;
}

.header-desktop {
    height: 108px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 40px 120px 20px 120px;
    box-sizing: border-box;
  }