@import url("../../assets/style/Global.css");

.fb-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.fb-white {
  background: 
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 31.5%,
      #fff 52.5%
    )
}

.fb-gray {
  background:
    linear-gradient(
      180deg,
      rgba(243, 243, 243, 0) 3.8%,
      rgba(243, 243, 243, 0.7) 32.44%,
      #f3f3f3 51.37%,
      #f3f3f3 51.38%
    )
}
